body {
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
}

header {
    background: #ebebeb;
    width: auto;
    height: auto;
    padding: 1px;
}

nav {
    background: #ebebeb;
    width: auto;
    height: auto;
    padding: 1px;
    border: solid #777 1px;
    text-align: center;
    margin-top: 3px;
    margin-bottom: 3px;
}

article {
    text-align: center;
    color: #ebebeb;
    background: #777;
    border: solid #ebebeb 1px;
    padding: 5px;
}

h1, p {
    color: #777;
    background: #ebebeb;
    text-align: center;
    padding: 10px;
    margin: 5px;
}

section {
    width: 495px;
    background: #ebebeb;
    padding: 5px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.ol-nav {
    font-family: arial;
    font-size: 15px;
    font-style: lowercase;
    display: inline-block;
    padding-left: auto;
    margin-left: 5px;
}

.ol-nav:hover {
    color: lightskyblue;
}

aside {
    background: #777;
    color: #ebebeb;
    width: 495px;
    padding: 5px;
    right: 0;
    position: absolute;
    margin-bottom: 500px;
}

footer {
    background: #ebebeb;
    color: #777;
    text-align: center;
    padding: 35px;
    margin-top: 10px;
}